@media only screen and (max-width: 1280px){
    .container {
        width: 1170px;
        margin: 0 auto !important;
        max-width: 100%;
    }
    .site-manu ul li a {
        padding: 57px 35px;
    }
    .services_sript h2 {
        font-size: 24px;
    }
    .text_info h3 {
        font-size: 22px;
    }
    div.text_info ul {
        font-size: 16px;
    }
    div.ancher_btn a {
        font-size: 14px;
    }
    .text_box h5 {
        font-size: 22px;
        width: 300px !important;
    }
    div.box_colot {
        padding: 0px 20px;
    }
    .slide_heading h3 {
        font-size: 24px;
    }
    .ser_info h2 {
        font-size: 18px;
    }
    div.ser_text p {
        font-size: 17px;
    }
    .ser_read button {
        font-size: 14px;
    }
    .user_heading h2 { 
        font-size: 24px;
    }
    .user_info p {
        font-size: 18px;
    }
    .user_info {
        padding-top: 20px;
    }
    .globel_business p {
        font-size: 24px;
    }
    .globel_business a {
        font-size: 18px;
    }
    div.site_cntform {
        padding: 50px 0px 70px;
    }
    .site_cntform h2 {
        font-size: 24px;    
        margin-bottom: 50px;
    }
    .homecnt_forms input {
        font-size: 18px;
    }
}
@media only screen and (max-width: 1024px){
    .site-manu ul li {
        font-size: 15px;
    }
    .newsletter h2 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 980px){
    .site-manu ul li a {
        padding: 32px 22px;
    }
    div.header {
        padding: 10px 0px;
    }
    .services_sript h2 {
        font-size: 19px;
    }
    .services_sript a {
        font-size: 14px;
    }
    .text_box h5 {
        font-size: 20px;
        width: 250px !important;
    }
    .slide_heading h3 {
        font-size: 22px;
    }
    .slide_heading p {
        font-size: 22px;
    }
    .user_info p {
        font-size: 16px;
    }
    .user_info h4 { 
        margin-bottom: 6px;
    }  
    .globel_business p {
        font-size: 20px;
    }
    .globel_business a {
        font-size: 16px;
    }
    .homecnt_forms {
        max-width: 900px;
    }
    .homecnt_forms input {
        font-size: 16px;
    }
    div.base_line {
        margin: 10px auto;
    }
    div.text_info ul li {
        line-height: 1.3em;
    }
    .text_box h5 {
        border: 0;
    }
    div.gcc_team {  
        height: 300px;
    }
    div.ser_text p {
        margin-top: 10px;
    }
    div.ser_text {
        height: 96px;
        overflow: hidden;
    }
    .user_info p {
        font-size: 14px;
    }
    .user_info h4 {
        margin-bottom: 10px;
    }
    .base_line_gray {
        width: 110px;
    }
    .homecnt_forms {
        max-width: 750px;
    }
    .homecnt_forms input[type="submit"] {
        width: 175px;
    }
}
@media only screen and (max-width: 800px){
    .site-manu ul li a {
        padding: 26px 18px;
    }
    div.text_info ul {
        font-size: 15px;
    }
    div.slide_bar {
        width: 125px;
    }
    div.testimonial {
    padding: 30px 0px;
    }
    .homecnt_forms {
        max-width: 700px;
    }
}
@media only screen and (max-width: 768px){
    
}
@media only screen and (max-width: 767px){
    
}
@media only screen and (max-width: 600px){
    
}
@media only screen and (max-width: 480px){
    
}
@media only screen and (max-width: 375px){
    
}
@media only screen and (max-width: 360px){
    
}
@media only screen and (max-width: 320px){
    
}